* {
    font-family: 'Lato', sans-serif;
}

:root {
    --primary: #A5C882;
    --secondary: rgb(218, 62, 62);
    --light: white;
    --dark: black;
    --disabled: #D3D3D3;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--disabled);
}

:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 350px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateLeft{
    display: flex;
    align-self: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth, #dateNumber, #dateText {
    font-weight: bold;
}

#dateYear, #dateMonth {
    font-size: 20px;
    margin-left: 7px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--disabled);
}

input:focus {
    outline: none;
}

.addTaskButton, .orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    background-color: var(--disabled);
    font-size: 18px;
}

.orderButton {
    background-color: var(--secondary);
    color: var(--light);
}

.task {
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: var(--dark);
    background-color: var(--disabled);
}