@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #293951;
  --secondary-color: #151d2a;
}

body {
  background-color: var(--primary-color);
  margin: 0px;
  font-family: "Overpass", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 42px 20px 42px;
  background-color: var(--secondary-color);
}

.logo img {
  width: 80px;
  height: auto;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
}

.search::placeholder {
  color: #7095c0;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: var(--secondary-color);
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 20px;
  letter-spacing: 0.5px;
  gap: 5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
